.container{
    width:100%;
    height:100vh;
    background-color:#141a34;
    display:flex;
    align-items:center;
    justify-content:center;
}
.container form{
    width:90%;
    background:#fff;
    max-width:500px;
    padding:50px 30px 20px;
    border-radius:4px;
}
.input-group{
    width:100%;
    display:flex;
    align-items:center;
    margin:10px 0;
}
.input-group label{
    width:120px;
    font-weight:600px;
    font-size:14px;
    letter-spacing:0.5px;
}
form .fa-paper-plane{
    position:relative;
    top:0;
    left:50%;
    transform:translate(-50%,-50%);
    font-size:26px;
    background:#fff;
    padding:20px;
    border-radius:50%;
    box-shadow:0 0 10px;
}
